@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

body {
  background: #eee;
  border: #eee;
  font-family: Source Sans Pro;
  display: center;
  width: 725px;
}
nav li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-family: Source Sans Pro;
  color: #777;
}
h1 {
  text-align: center;
  font-family: Abril Fatface;
}
.newspaper-container {
  padding: 20px;
  background: white;
  border-radius: 10px;
  width: 700px;
  box-shadow: #ddd;
}
li {
  font-size: small;
}

title {
  text-align: center;
}

nav {
  text-align: center;
}

a {
  text-decoration: none;
  color: gray;
  padding: 10px;
}
h5 {
  color: rgb(238, 34, 34);
  font-family: Abril Fatface;
}
img {
  text-align: center;
}

.more-articles {
  display: inline-block;
  border-top: 1px solid rgb(175, 169, 169);
}
.short-article {
  width: 270px;
}
.more-articles {
  display: inline-block;
  border-top: 1px solid rgb(175, 169, 169);
}
.short-article2 {
  width: 180px;
}
p {
  width: 680px;
  padding: 5px;
}
h2,
h4 {
  font-family: Roboto Slab;
}
section {
  display: inline-block;
  padding: 20px;
}
#image1 {
  width: 700px;
}
ul {
  border-top: 1px solid rgb(175, 169, 169);
  border-bottom: 1px solid rgb(175, 169, 169);
  padding: 5px;
}
.smallimages {
  width: 290px;
}
.smallimages2 {
  width: 150px;
  height: 125px;
}
footer {
  text-align: right;
}
